body{
    
    width: 100%;
    background-color: antiquewhite;
}
.container{
    margin-left: 20px;
    margin-left: 3px;
    
}
#first-row{
    position: fixed;
    width: 100%;
    background-color: bisque;
    
    z-index: 1;
}
.row{
    margin-bottom: 5px;
}

.custormDiv{
    margin-top: 10%;
    height: 80%;
    /* position: static;  */
    top: 0;
    /* overflow-y: scroll; */
    background-color: aquamarine;
    font-size: medium; 
    border: 2px solid yellowgreen;
    
}
.nav-bar{
    display: inline-block;
    justify-self: right;
    overflow: hidden;
   /* position: fixed;    Set the navbar to fixed position */  
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    border: 2px solid black;
    font-family: Arial;
    

}

.nav-bar ul{
    display: flex;
    justify-content: flex-end;
} 
 .nav-bar li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    margin-right: 5px;
}

.custormDiv h3{
    display: inline-block;
    width: 25.5%;
    text-align: center;
    position: fixed;
    margin: 0 auto;
    background-color: aqua;

}
.custormDiv ul li{
    list-style: none;
    padding: 20px;
    scroll-margin-top: 10px;
    border-bottom: 1px solid rgba(0, 22, 22, 0.4);
}

.custormDiv1{
    margin-top: 10%;
    /* position: absolute;
    left: 0; 
    width: 100%;
    /* top: 0; */
    /* margin: 0px;
     clear: both;  */
}


#contacts{
    width: 100%;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    /* padding: 20px; */
    background-color: black;
    border-bottom: 2px solid rgba(190, 5, 5, 0.986);
    margin-top: 8%;
    margin-bottom: 0px;
}
#contacts a{
    text-decoration: none;
}

#contacts img{
    display: inline-block;
    width: 2%;
    margin: 5px;
    background: white;
}
@media screen and (max-width: 640px){
    .custormDiv h3{
        position: relative;
        width: 100%;
        top: 0;
        padding: 0;
        margin: 0;
        
    } 
}

 /* @media screen and (max-width: 640px){
    .custormDiv .nav-bar{
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        height: 50%;
        width: 90%;
        text-align: center;
        overflow: scroll;
        overflow-x: hidden;
        background: white;
        border-bottom: 2px solid;
        margin-top: 30px;
    } 
    
    .custormDiv1{
        top: 60%; 
        left: 0;
        width: 100%;
        overflow-x: hidden;
        color: red;
    }   */
 /* footer{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: white;
    background-color: black;
 }  */




